.cardProduct-content{
    display: flex;
    width: 100%;
    background-color: rgb(231, 73, 73);
    flex-direction: column-reverse;
    /* justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    gap: 40px;
}
.cardProducto-info{
    width: 100%;
    /* border: 1px solid red; */
    /* background-color: aqua; */
}
.cardProduct-img{
    width: 120px;
}