.footer-container{
    max-width: 100%;
    background-color: #0c2941;
    color: white;
    padding: 2%;
    border-radius: 70px 70px 0 0;
    text-align: center;
}

.footer-division{
    width: 40%;
}

.linkedin{
    color: white;
}

.autor {
    padding-top: 2%;
}