.inicio--sesion{
    cursor: pointer;
}

.inicio--sesion--content{
    display: none;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.589);
    position: fixed;
    top: 0;
}

.inicio--sesion--card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 430px;
    height: 400px;
    box-shadow: 8px 10px 10px -6px rgb(63, 63, 63);
    transition: width 0.5s ease;
    border-radius: 2%;
}

.inicio-sesion-saludo{
    text-align: center;
    color: rgb(77, 77, 77);
}

.inicio-sesion-registrate{
    text-align: center;
    color: rgb(77, 77, 77);
    font-size: 18px;
}

span{
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.inicio-sesion-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
    width: 100%;
    height: 40%;
    gap:7%
}

.cerrarSesion{
    position: absolute;
    top: 3%;
    right: 3%;
}

@media (max-width: 768px) {
    .inicio--sesion--card{
        width: 60%;
    }
}
@media (max-width: 600px) {
    .inicio--sesion--card{
        width: 90%;
    }
}


/* Despues del logeo */
.dropbtn{
    display: flex;
}
.dropdown {
    position: relative; 
    display: flex;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fc7a29;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ff8c45;
    border-radius: 0% 0% 10px 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .division-dropdown{
    width: 80%;
    margin: 0 auto;
    border-color: #f7985d;
  }
  .bx-chevron-down{
    padding-left: 5px;
  }