<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecnoShop</title>
<!-- Iconos --------------- --------------------------------------------------------------------------->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<!-- Links de CSS's propios --------------------------------------------------------------------------->
    <link rel="stylesheet" href="assets/css/cardProducto.css">
    <link rel="stylesheet" href="assets/css/index.css">
<!-- estilos de letra Google fonts -------------------------------------------------------------------->
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<!----------------------------------------------------------------------------------------------------->
</head>

<body>
    
<!-- Section de filtros realizados --------------------------------------------------------------------->
    <div id="categoria">
    </div>

</body>

</html>
<script src="assets/js/productos.js"></script>
